.root {
  position: relative;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  @apply shadow-xl border-gray-700 bg-gray-700 text-gray-300 focus:border-gray-900 focus:outline-none rounded-xl;
  width: 100%;
  height: 4rem;
  padding: 0 3rem;
  font-size: 1.5rem;
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  top: 0;
  bottom: 0;
}

.iconLeft {
  pointer-events: none;
  left: 0;
}

.iconRight {
  right: 0;
}
